hi {
	color:black
}


body {
	background-image: url(https://i.pinimg.com/originals/dd/c4/ef/ddc4efd60a1e82f9a70eb7d6565446a9.jpg)
	
}

* {
	color:White
}

ali-a {
	border-style: solid;
	border-color: white;
}